[Unit]
Description=ipsec key exchange server

[Service]
Type=forking
PIDFile=/var/run/racoon.pid
EnvironmentFile=-/etc/default/racoon
ExecStartPre=-/bin/mkdir -p /var/run/racoon
ExecStart=/usr/sbin/racoon $RACOON_ARGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

